# Flutter/Dart
**/build/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.metadata

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/GeneratedPluginRegistrant.*

# Android
**/android/.gradle/
**/android/local.properties
**/android/key.properties

# IDEs
**/.idea/
**/.vscode/
**/*.iml

# OS
.DS_Store
Thumbs.db
